################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Academt.TestConsole/obj
/Academt.TestConsole/bin/Debug
/Academy.TestConsole/obj
/Academy.TestConsole/bin/Debug
/Academy.TestConsole/.vs/Academy.TestConsole/v17
