################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Academt.TestConsole/obj
/Academt.TestConsole/bin/Debug
/Academy.TestConsole/obj
/Academy.TestConsole/bin/Debug
/Academy.TestConsole/.vs/Academy.TestConsole/v17
/Academy.Common/obj/Debug
/Academy.Common/bin/Debug
/Academy.EntitesConsole/obj/Debug
/Academy.EntitesConsole/bin/Debug
/Academy.Totip/obj
/Academy.Totip/bin/Debug/net6.0
/Academy.TestConsole/.vs/Academy.TestConsole/DesignTimeBuild
